.navigation {
  margin-left: auto;
}
.navigation__list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation__link {
  background-color: transparent;
  color: white;
  font-family: 'Open Sans';
    font-style: normal;
  font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
}