<section class="callback">
  <img
    class="callback__img"
    src="./images/man-drink-coffe.jpg"
    alt="man-work"
  />
  <div class="connect">
    <h2 class="connect__title">Request Callback</h2>
    <form class="connect__form">
      <input
        class="connect__login"
        type="text"
        name=""
        id=""
        placeholder="Enter your name"
        required
      />
      <input
        class="connect__email"
        type="email"
        name=""
        id=""
        placeholder="Enter email*"
        required
      />
      <button class="connect__btn" type="submit">Send</button>
    </form>
  </div>
</section>
