<section class="case">
  <div class="container">
    <ul class="cases-title">
      <li class="cases-img"><img src="./images/Rectangle.jpg" alt="team" /></li>
      <li class="cases-img">
        <img src="./images/Rectangle-2.jpg" alt="grafic" />
      </li>
      <li class="cases-img"><img src="./images/Rectangle-3.jpg" alt="hr" /></li>
      <li class="cases-img">
        <img src="./images/Rectangle-4.jpg" alt="team-build" />
      </li>
      <li class="cases-img"><img src="./images/Rectangle-5.jpg" alt="5" /></li>
      <li class="cases-img"><img src="./images/Rectangle-6.jpg" alt="6" /></li>
      <li class="cases-img"><img src="./images/Rectangle-7.jpg" alt="7" /></li>
      <li class="cases-img"><img src="./images/Rectangle-8.jpg" alt="8" /></li>
    </ul>
  </div>
</section>
