<section class="cases">
  <ul class="cases-title">
    <li class="cases-img"><img src="../images/Rectangle.jpg" alt=""></li>
    <li class="cases-img"><img src="../images/Rectangle-2.jpg" alt=""></li>
    <li class="cases-img"><img src="../images/Rectangle-3.jpg" alt=""></li>
    <li class="cases-img"><img src="../images/Rectangle-4.jpg" alt=""></li>
    <li class="cases-img"><img src="../images/Rectangle-5.jpg" alt=""></li>
    <li class="cases-img"><img src="../images/Rectangle-6.jpg" alt=""></li>
    <li class="cases-img"><img src="../images/Rectangle-7.jpg" alt=""></li>
    <li class="cases-img"><img src="../images/Rectangle-8.jpg" alt=""></li>
  </ul>
</section>
