<footer class="footer-first">
  <div class="footer-first__container container">
    <ul class="soc-links footer-first__soc-links">
      <li class="soc-links__item">
        <a
          href="#"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="soc-links__link"
          ><img src="./images/facebook-nnv.svg" alt="facebook" height="35" width="35"/>
        </a>
      </li>
      <li class="soc-links__item">
        <a
          href="#"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="soc-links__link"
          ><img src="./images/twitter-nnv.svg" alt="Twitter" height="35" width="35"/>
        </a>
      </li>
      <li class="soc-links__item">
        <a
          href="#"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="soc-links__link"
          ><img src="./images/youtube-nnv.svg" alt="YouTube" height="40" width="35"/>
        </a>
      </li>
      <li class="soc-links__item">
        <a
          href="#"
          target="_blank"
          rel="noopener nofollow noreferrer"
          class="soc-links__link"
          ><img src="./images/lenkedin-nnv.svg" alt="LinkedIn" height="31" width="35"/>
        </a>
      </li>
    </ul>

    <p class="footer-first__text">Copyright &#169 2021 - FinanceLedger</p>
  </div>
</footer>
