<section class="footer-third">
  <div class="container">
    <ul class="social-list">
      <li class="social-list">
        <a href=""></a>
        <svg class="social-icon" width="35" heidth="35">
          <use href="./images/facebook-f-3.svg"></use>
        </svg>
      </li>
      <li class="social-list">
        <a href=""></a>
        <svg class="social-icon" width="35" heidth="35">
          <use href="./images/twitter-f-3.svg"></use>
        </svg>
      </li>
      <li class="social-list">
        <a href=""></a>
        <svg class="social-icon" width="35" heidth="35">
          <use href="./images/youtube-f-3.svg"></use>
        </svg>
      </li>
      <li class="social-list">
        <a href=""></a>
        <svg class="social-icon" width="35" heidth="35">
          <use href="./images/linkedl-f-3.svg"></use>
        </svg>
      </li>
    </ul>

    <p class="social-text">Copyright © 2021 - FinanceLedger</p>
  </div>
</section>
