<section class="futuries">
  <div class="container">
    <h2 class="visually-hidden">futuries</h2>
    <ul class="futuries__list">
      <li>
        <div class="futuries__pic"></div>
        <h3 class="futuries__title">Investmant Banking</h3>
        <p class="futuries__text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Recusandae,
          saepe?
        </p>
      </li>
      <li>
        <div class="futuries__pic"></div>
        <h3 class="futuries__title">Portfolio Manager</h3>
        <p class="futuries__text">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt,
          at?
        </p>
      </li>
      <li>
        <div class="futuries__pic"></div>
        <h3 class="futuries__title">Tax & Custudio</h3>
        <p class="futuries__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum, fuga.
        </p>
      </li>
    </ul>
  </div>
</section>
