<section class="team">
  <div class="container">
    <ul class="list">
      <li>
        <img
          class="image"
          src="./images/team1.jpg"
          alt="portrait"
          width="420"
        />
        <h2 class="name">John Doe</h2>
        <p class="descr">President</p>
      </li>
      <li>
        <img
          class="image"
          src="./images/team2.jpg"
          alt="portrait"
          width="420"
        />
        <h2 class="name">Jane Doe</h2>
        <p class="descr">Vice President</p>
      </li>
      <li>
        <img
          class="image"
          src="./images/team3.jpg"
          alt="portrait"
          width="420"
        />
        <h2 class="name">Steve Smith</h2>
        <p class="descr">Marketing Head</p>
      </li>
    </ul>
  </div>
</section>
